.logo {
  @include font(700, 26px, 1.2, 0.03em);
  font-family: 'raleway', sans-serif;
  margin-right: 93px;
}

.logo-part {
  @include font(700, 26px, 1.2, 0.03em);
  color: var(--accent-color);
  font-family: 'raleway', sans-serif;
}

.header-logo--color-black {
  color: var(--logo-color-black);
}

.footer-logo--color-white {
  color: var(--white-color);
  margin-right: 0;
}
